<%- include("../partials/header") -%>
<div class="container">
    <h1>Success</h1>
    <h2>Congratulation, you are now a member of Olcademy.</h2>
    <hr>
    <a href="login">Go to Login Page</a>
</div>
<%- include("../partials/footer") -%>